<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net472" />
  <package id="IronPython" version="2.7.9" targetFramework="net472" />
  <package id="IronPython.Interpreter" version="2.7.4" targetFramework="net472" />
  <package id="IronPython.StdLib" version="2.7.9" targetFramework="net472" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="PoshCode.PoshConsole" version="0.8.5.0" targetFramework="net472" />
  <package id="Simple.Wpf.Terminal" version="1.35.0.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>